

#chat-box {
    border: 3px solid;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative; 
}
#input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    position: fixed;
    bottom: 0;
    width: 100%; 
}

#new-msg {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
